<table>
	<tbody>
<%
cards_ahash.each do |card_ahash|
	card = card_ahash[1][:card_data]
	deck = card_ahash[1][:deck_data]
	if card
%>
		<tr>
			<th><%= render 'cards/card_image', card: card %></th>
			<td>
				<div>
					<a href="<%= card_path(card) %>" target="_blank"><%= card.name %></a>　×　<%= deck["count"] %>枚
				</div>
				<div>
					種別：<%= card.card_kind %>
				</div>
			<% unless card.life_burst.blank? %>
				<div>
					ライフバースト：<%= image_tag "i_burst.png", alt: "ライフバースト" %>
				</div>
			<% end %>
			<% unless card.guard.blank? %>
				<div>
					ガード：有
				</div>
			<% end %>
			</td>
		</tr>
<%
	end
end
%>
	</tbody>
</table>