<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width">
	<title><%= full_title(yield(:title)) %></title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body style="padding-top: 70px;">
	<header>
		<%= render 'layouts/header' %>
		<%= render 'layouts/search_modal' %>
	</header>

	<div class="row">
		<% unless @cards.nil? %>
			<div class="col-sm-3">
				<%= render 'layouts/spy' %>
			</div>
		<% end %>

		<div class="col-sm-offset-1 col-sm-7">
			<%= yield %>
		</div>
	</div>
	<% unless request.smart_phone? %>
		<%= render 'decks/deck' %>
	<% end %>

	<%= render 'share/qlook' %>
	<%= debug(params) if Rails.env.development? %>

</body>
</html>
